@using OnlineShopWebApp.Models.ViewModels
@model LogInViewModel

<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6 align-content-center">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">Вход</h3>
                <form method="post" class="row g-4">
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-person-fill">
                                <img src="/images/ui/profile_icon.png" width="20" height="20" alt="Иконка профиля">
                            </i>
                        </div>
                        <input asp-for="Login" class="form-control" placeholder="Enter Username">
                    </div>
                    <span class="validation-error" asp-validation-for="Login"></span>
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-lock-fill">
                                <img src="/images/ui/password_icon.png" width="20" height="20" alt="Иконка пароля">
                            </i>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter Password">
                    </div>
                    <span class="validation-error" asp-validation-for="Password"></span>

                    <div class="col-sm-6">
                        <div class="form-check">
                            @Html.EditorFor(m => m.RememberMe)
                            <label class="form-check-label" for="inlineFormCheck">Запомнить меня</label>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <a asp-controller="authorization" asp-action="register" class="float-end link-color">Нет аккаунта?</a>
                    </div>
                    <div class="row">
                        <div class="col-5">

                        </div>
                        <div class="col-6">
                            <button type="submit" asp-controller="authorization" asp-action="logIn" class="btn btn-outline-cartChangeAmount">Войти</button>
                        </div>
                    </div>
                    <div class="validation-error" asp-validation-summary="All"></div>
                </form>
            </div>
        </div>
    </div>
</div>

