@using OnlineShopWebApp.Models.ViewModels
@model RegistrationViewModel;
<div class="row">
    <div class="col-4">
    </div>
    <div class="col-4 align-content-center">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title">Регистрация</h3>
                <form method="post" class="row g-4">
                    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-person-fill">
                                <img src="/images/ui/profile_icon.png" width="20" height="20" alt="Иконка профиля">
                            </i>
                        </div>
                        <input asp-for="Login" class="form-control" placeholder="Введите логин"><br>
                    </div>
                    <span class="validation-error" asp-validation-for="Login"></span>
                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-lock-fill">
                                <img src="/images/ui/password_icon.png" width="20" height="20" alt="Иконка пароля">
                            </i>
                        </div>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Введите пароль"><br>
                    </div>
                    <span class="validation-error" asp-validation-for="Password"></span>

                    <div class="input-group">
                        <div class="input-group-text">
                            <i class="bi bi-lock-fill">
                                <img src="/images/ui/password_icon.png" width="20" height="20" alt="Иконка пароля">
                            </i>
                        </div>
                        <input asp-for="PasswordConfirm" type="password" class="form-control" placeholder="Подтвердите пароль"><br>
                    </div>
                    <span class="validation-error" asp-validation-for="PasswordConfirm"></span>
                    <div class="row mt-4 text-center">
                        <div class="col-12">
                            <button type="submit" asp-controller="authorization" asp-action="register" class="btn btn-outline-cartChangeAmount">Зарегистрироваться</button>
                        </div>
                    </div>
                    <div class="validation-error" asp-validation-summary="ModelOnly"></div>
                </form>
            </div>
        </div>
    </div>
</div>


