@using OnlineShopWebApp.Models.Orders
@model Order

@if(Model != null)
{
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="card mb-3">
                <img src="~/images/delivery.gif" width="30%" class="card-img-top" alt="Анимация доставки">
                <div class="card-body">
                    <h3 class="card-title text-center">Номер вашего заказа: #@Model.Id<br>
                        Время оформления @Model.TimeOfOrder.Hour:@Model.TimeOfOrder.Minute<br>
                        Спасибо за доверие.
                    </h3>
                </div>
            </div>
        </div>
    </div>
}