@model List<Product> 

@if(Model != null)
{
    <div>
        <h2 style="text-align:center">Товары</h2>
    </div>

    <div class="row">
        @foreach(var product in Model)
        {
            <div class="col-3 card shadow">
                <img class="card-img-top" src="~/khinkali.jpg"></img>
                <div class="card-body">
                    <a style="color:black" class="card-title" href="/product/index/@product.Id">
                        <h5>@product.Name</h5>
                    </a>
                    <h5 >@product.Cost руб.</h5>
                    <a class="btn btn-dark" href="#" role="button">Добавить в корзину</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2>Упс..., что-то пошло не так</h2>
}

