@model int

<a asp-area="" asp-controller="carts" asp-action="index" asp-route-userId="@CommonData.currentUserId" class="btn btn-outline-cartChangeAmount" role="button">
    @if(Model != 0)
    {
        <div class="row">
            <div class="col-6">
				@await Html.PartialAsync("AddToCartIcon")
            </div>
            <div class="col-6">
                <sup>@Model</sup>
            </div>
        </div>
    }
    else
    {
        @await Html.PartialAsync("AddToCartIcon")
    }
</a>