<div class="row justify-content-center">
    <div class="col-5">
        <div class="card mb-3">
            <img src="~/images/address_add_image.jpg" height="210" width="400" class="card-img-top" alt="Фото заказа">
            <div class="card-body">
                <h3 class="card-title text-center">Адрес доставки</h3>
                <form method="post">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="inputCity" class="form-label">Город</label>
                            <input type="text" name="city" class="form-control" id="inputCity" aria-describedby="cityHelp">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="inputStreet" class="form-label">Улица/Проспект</label>
                            <input type="text" name="street" class="form-control" id="inputStreet" aria-describedby="streetHelp">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="inputHouse" class="form-label">Дом</label>
                            <input type="text" name="house" class="form-control" id="inputHouse" aria-describedby="houseHelp">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="inputFlat" class="form-label">Квартира</label>
                            <input type="text" name="flat" class="form-control" id="inputFlat" aria-describedby="flatHelp">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <button class="btn btn-outline-success" type="submit" asp-controller="addresses" asp-action="addAddress" asp-route-userId="1">
                                Добавить адрес
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>