html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cart-item {
    background: #fff;
    border-radius: 16px;
    padding: 40px 40px 40px 35px;
    position: relative;
}

.percount {
    float: right;
    padding-top: 10px;
}
.gray{
    
}

a.gray {
    color: #999;
}

a.gray:hover {
    color: black;
}

.link {
    text-decoration: none;
}

.btn-outline-cartChangeAmount {
    color: black;
    border-color: black;
}

.btn-outline-cartChangeAmount:hover {
    color: white;
    background-color: #D86328;
    border-color: #D86328;
}

.btn-outline-addFavorite {
    color: #fe3d06;
    border-color: #fe3d06;
}

.btn-outline-addFavorite:hover {
    color: white;
    background-color: #fe3d06;
    border-color: #fe3d06;
}

.btn-outline-addToCart {
    background-color: white;
    border-color: black;
}

.btn-outline-addToCart:hover {
    background-color: black;
    border-color: black;
}

.btn-outline-removeFavorite {
    color: #999;
    border-color: #999;
}

.btn-outline-removeFavorite:hover {
    color: white;
    background-color: #999;
    border-color: #999;
}


.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}

.form-right i {
    font-size: 100px;
}

.link-color, .checkbox-color{
    color: #D86328;
}

.bg-color {
    background-color: #D86328;
}

.validation-error{
    color : red;
    font-size : 13px;
    padding-top : 1px;
    margin-top : 1px;
}