<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineShopWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineShopWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a asp-controller="home" asp-action="index" class="navbar-brand">
                    <img src="/images/ui/logo.png" alt="logo" width="80">
                </a>
                <div class="container-fluid" id="navbarNav">
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Введите название блюда или национальной кухни" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Поиск</button>
                    </form>
                </div>
                <div class="container-fluid align-content-start" id="navbarNav">
                    <a asp-controller="product" asp-action="page" asp-route-size="10" asp-route-count="1" class="nav-link active" aria-current="page">Страницы</a>
                </div>
                <div class ="align-content-end" id="navbarNav">
                    <a asp-controller="carts" asp-action="index" asp-route-userId="1" class="btn btn-outline-dark" role="button">
                        <img src="/images/ui/cart_icon.png" width="35" alt="Иконка корзины" />
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - OnlineShopWebApp
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
