<div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
        Меню
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><a asp-controller="administration" asp-action="orders" class="dropdown-item" type="button">Заказы</a></li>
        <li><a asp-controller="administration" asp-action="users" class="dropdown-item" type="button">Пользователи</a></li>
        <li><a asp-controller="administration" asp-action="products" class="dropdown-item" type="button">Продукты</a></li>
        <li><a asp-controller="administration" asp-action="roles" class="dropdown-item" type="button">Роли</a></li>
    </ul>
</div>
