<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a asp-controller="home" asp-action="index" class="navbar-brand">
                <img src="/images/ui/logo.png" alt="logo" width="80">
            </a>
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <form class="d-inline-flex">
                            <input class="form-control me-2" type="search" placeholder="Введите название блюда или национальной кухни" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Поиск</button>
                        </form>
                    </div>
                    <div class="col-1">
                        <div class="align-content-start">
                            <a asp-controller="product" asp-action="page" asp-route-numberOfProductsPerPage="10" asp-route-pageNumber="1" class="nav-link active" aria-current="page">Страницы</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn btn-outline-primary m-2" asp-controller="logIn" asp-action="index">
                <img src="/images/ui/profile_icon.png" width="25" height="25" alt="Иконка профиля">
            </a>
            <div class="row">
                <div class="col-6">
                    @await Component.InvokeAsync("Favorites")
                </div>
                <div class="col-1">
                    @await Component.InvokeAsync("Cart")
                </div>
            </div>
        </div>
    </nav>
</header>
