@using OnlineShopWebApp.Models.Products
@model ProductViewModel
<div class="row justify-content-center">
    <div class="col-5">
        <div class="card mb-3">
            <div class="card-body">
                <h3 class="card-title text-center">Добавление нового товара</h3>
                <form method="post">
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label asp-for="Name" class="form-label">Название</label>
                            <input asp-for="Name" class="form-control" id="inputName" aria-describedby="nameHelp">
                            <span class="validation-error" asp-validation-for="Name"></span>
                        </div>
                        <div class="mb-3 col-6">
                            <label asp-for="Cost" class="form-label">Цена</label>
                            <input asp-for="Cost" class="form-control" id="inputCost" aria-describedby="costHelp">
                            <span class="validation-error" asp-validation-for="Cost"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label asp-for="Description" class="form-label">Описание</label>
                            <textarea asp-for="Description" class="form-control" aria-label="With textarea"></textarea>
                            <span class="validation-error" asp-validation-for="Description"></span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4">
                            <button class="btn btn-outline-success" type="submit" asp-controller="administration" asp-action="addProduct" asp-route-ImagePath="default">
                                Добавить товар
                            </button>
                        </div>
                    </div>
                    <div class="validation-error" asp-validation-summary="ModelOnly"></div>
                </form>
            </div>
        </div>
    </div>
</div>
