@using OnlineShopWebApp.Models.Roles
@model RoleViewModel
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a asp-controller="administration" asp-action="orders" class="nav-link">Заказы</a>
            </li>
            <li class="nav-item">
                <a asp-controller="administration" asp-action="products" class="nav-link">Товары</a>
            </li>
            <li class="nav-item">
                <a asp-controller="administration" asp-action="users" class="nav-link">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="true">Роли</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        @foreach(var role in Model.Roles)
        {
            <div class="row">
                <div class="col-2 mt-2">
                    @role.Name
                </div>
                @if(role.Id != 1)
                {
                    <div class="col-3 mt-2">
                        <a asp-controller="administration" asp-action="removeRole" asp-route-roleId="@role.Id" class="btn btn-outline-danger">Удалить</a>
                    </div>
                }
            </div>
        }
        <form method="post">
            <div class="row">
                <div class="col-10 mb-3">
                    <label asp-for="Name" class="form-label">Название роли</label>
                    <div class="row">
                        <div class="col-5">
                            <input asp-for="Name" class="form-control" id="inputName" aria-describedby="nameHelp">
                        </div>
                        <div class="col-3 m-0">
                            <button asp-controller="administration" asp-action="roles" type="submit" class="btn btn-outline-success">Добавить</button>
                        </div>
                    </div>
                    <span asp-validation-for="Name" class="validation-error"></span>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="validation-error"></div>
        </form>
    </div>
</div>
