@using OnlineShopWebApp.Models.Carts
@model Cart

@if (Model != null && Model.Items.Any())
{
    foreach(var item in Model.Items)
    {
        <div class="row">
            <div class="col-2">
                <img class="img-fluid" src="~/khinkali.jpg" alt="Изображение товара" />
            </div>
            <div class="col-10">
                <h5>@item.Product.Name</h5>
                <h5>@item.Product.Cost руб.</h5>
                <h5>Количество товара в позиции: @item.Amount</h5>
            </div>
        </div>
    }
    <p>Итоговая сумма: @Model.Cost руб.</p>
    <a class="btn btn-dark" href="#" role="button">Оформить заказ</a>
    <a class="btn btn-dark" href="/carts/ClearCart?userId=1" role="button">Очистить корзину</a>
}
else
{
    <h3>Корзина пуста</h3>
}
