@using OnlineShopWebApp.Models.Roles
@model List<Role>

<div class="row text-center">
    <div class="col-4">
        <table class="table table-striped">
            @foreach (var role in Model)
            {
                <tr>
                    <td>
                        <div class="mt-1">
                            @role.Name
                        </div>
                    </td>
                    <td>
                        @if (role.Name != "admin")
                        {
                            <a asp-area="admin" asp-controller="roles" asp-action="removeById" asp-route-roleId="@role.Id" class="btn btn-outline-danger">Удалить</a>
                        }
                        else
                        {
                            <a asp-area="admin" asp-controller="roles" asp-action="removeById" asp-route-roleId="@role.Id" class="btn btn-outline-danger disabled">Удалить</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

