@using OnlineShopWebApp.Models.Users
@model CreateUserViewModel

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    <div class="row m-2">
                        <div class="col-4 gray">Логин:</div>
                        <div class="col-8">
                            <input asp-for="RegistrationModel.Login" class="form-control" id="inputLogin" value="@Model.RegistrationModel.Login" aria-describedby="emailHelp">
                            <span asp-validation-for="RegistrationModel.Login" class="validation-error"></span>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-4 gray">Пароль:</div>
                        <div class="col-8">
                            <input asp-for="RegistrationModel.Password" type="password" class="form-control" id="inputLogin" value="@Model.RegistrationModel.Password" aria-describedby="emailHelp">
                            <span asp-validation-for="RegistrationModel.Password" class="validation-error"></span>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-4 gray">Подтвержение пароля:</div>
                        <div class="col-8">
                            <input asp-for="RegistrationModel.PasswordConfirm" type="password" class="form-control" id="inputLogin" value="@Model.RegistrationModel.PasswordConfirm" aria-describedby="emailHelp">
                            <span asp-validation-for="RegistrationModel.PasswordConfirm" class="validation-error"></span>
                        </div>
                    </div>
                    <div class="row m-2">
                        <div class="col-4 gray">Роль:</div>
                        <div class="col-8">
                            <select asp-for="RoleId" class="form-select" aria-label="Default select example">
                                @await Component.InvokeAsync("RolesForEdit")
                            </select>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-12 mt-4">
                            <button class="btn btn-outline-success" type="submit" asp-area="admin" asp-controller="users" asp-action="create">
                                Создать пользователя
                            </button>
                        </div>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="validation-error"></div>
                </form>
            </div>
        </div>
    </div>
</div>


